.content {
  text-align: center;
  background-color: rgb(243, 241, 241);
  background-image: url('../public/svgImage.jpg');
  background-size: cover;
}

.Menu {
  height: 45px;
  background: rgb(255, 255, 255);
}



